extends layout

block main
    div.overlay#overlay
    main.main-wrapper.panel.justify-center
        h1.error-title.flicker1= title
        p.error-message.flicker2= message
        a.btn.btn-primary.back-btn(href="/") 
            i(class="bi bi-house")
            span Volver