extends layout

block styles
    link(rel="stylesheet", href="/css/error.css")

block main
    div.overlay#overlay
    main.main-wrapper.panel.justify-center
        h1.error-title.flicker1= title
        p.error-message.flicker2= message
        a.btn.back-btn.history-back(href="#")
            i(class="bi bi-arrow-left")
            span Volver