extends layout

block main
    main.main-wrapper.panel
        h1.error-title.flicker1= title
        p.error-message.flicker2= message
        a.back-btn(href="/") 
            i(class="bi bi-arrow-left")
            span Volver