extends layout

block main
    main.main-wrapper.panel.justify-center
        div.auth-card
            div.auth-header
                i.bi.bi-joystick.flicker2
                h1.flicker1 Snake Soccer
                p Inicia sesión para jugar

            if error
                div.alert.alert-danger.alert-dismissible.fade.show(role="alert")
                    = error
                    button.btn-close(type="button", data-bs-dismiss="alert")

            form.auth-form(method="POST", action="/login")
                div.form-group
                    label(for="username")
                        i.bi.bi-person-fill
                        span Usuario
                    input#username.form-control(
                        type="text", 
                        name="username", 
                        required,
                        autofocus
                    )

                div.form-group
                    label(for="password")
                        i.bi.bi-lock-fill
                        span Contraseña
                    input#password.form-control(
                        type="password", 
                        name="password", 
                        required
                    )

                button.btn.btn-primary.btn-signin.w-100(type="submit")
                    i.bi.bi-box-arrow-in-right
                    span Iniciar Sesión

            div.auth-footer
                p ¿No tienes cuenta?<br>
                    a(href="/register") Regístrate
