extends layout

block content
    main.add-section
        h2= title
        form.add-form(action=`/skill-edit/${skill.id}` method="POST")
            label(for="title") Nuevo nombre de Skill
            input(type="text" id="title" name="title" value=skill.title)
            
            label(for="icon") Nuevo icono
            input(type="text" id="icon" name="icon" value=skill.icon placeholder="https://example.com/icon.png")
            
            button.edit-btn(type="submit") 
                i(class="bi bi-check")
                span Confirmar
            a.back-btn(href="/") 
                i(class="bi bi-arrow-left")
                span Volver
