extends layout

block content
    main.add-section
        h2= title
        form.add-form(action="/skill-add" method="POST")
            label(for="title") Nombre de Skill
            input(type="text" id="title" name="title" required)
            
            label(for="icon") Icono
            input(type="text" id="icon" name="icon" placeholder="https://example.com/icon.png")
            
            button.add-btn(type="submit") 
                i(class="bi bi-plus-circle")
                span Agregar skill
            a.back-btn(href="/") 
                i(class="bi bi-arrow-left")
                span Volver
