/* ==========================
    ERROR 404
========================== */

.panel {
    padding: 1rem;
}

.error-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.error-message {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    text-align: center;
}