@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root,
/* ==========================
    TEMA OSCURO (Default)
========================== */
[data-theme="dark"] {
    --main-color: #00ff99;
    --main-color-rgb: rgb(0, 255, 153);
    --main-color-shadow: rgba(var(--main-color-rgb), 0.5);
    --main-shadow: 0 0 10px var(--main-color);
    --bg-primary: #111;
    --bg-secondary: #555;
    --text-primary: #ddd;
    --text-secondary: #aaa;
    --degrade-color-1: #161616;
    --degrade-color-2: #0d420f;
}

/* ==========================
    TEMA CLARO
========================== */
[data-theme="light"] {
    --bg-primary: #ddd;
    --bg-secondary: #aaa;
    --text-primary: #111;
    --text-secondary: #555;
}

/* ==========================
    GENERAL STYLES 
========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

html {
    cursor: default;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, var(--degrade-color-1) 0%, var(--degrade-color-2) 100%);
    color: var(--text-color);
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
    padding: 0.5rem;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.panel {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bg-primary);
    box-shadow: var(--main-shadow);
    color: var(--main-color);
}

.main-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==========================
    SIGNIN
========================== */

.auth-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.auth-header {
    text-align: center;
    margin-bottom: 24px;
}

.auth-header i {
    color: var(--main-color);
    font-size: 3rem;
    text-shadow: 0 0 20px var(--main-color-rgb);
    animation: neonFlicker1 4s infinite;
}

.auth-header h1 {
    margin: 1rem 0.75rem 0;
    color: var(--main-color);
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-shadow: 0 0 20px var(--main-color-rgb);
    animation: neonFlicker2 3.5s infinite;
}

.auth-header p {
    color: var(--text-secondary);
    margin-bottom: 0;
}

.auth-form {
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    color: var(--text-primary);
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
}

.form-control {
    padding: 0.75rem 1rem;
    background: rgba(var(--bg-primary), 0.1);
    border-radius: 0.5rem;
    box-shadow: var(--main-color);
    color: var(--text-primary);
    transition: all 0.2s;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.1);
    border-color: var(--main-color);
    box-shadow: var(--main-shadow);
    color: var(--text-primary);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    padding: 12px;
    background: linear-gradient(135deg, #00ff99 0%, #00C677 100%);
    border: none;
    border-radius: 8px;
    color: var(--bg-primary);
    font-weight: bold;
    transition: all 0.2s;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #00ff99 0%, #00C677 100%);
    color: var(--bg-primary);
}

.auth-footer {
    text-align: center;
    color: var(--text-secondary);
}

.auth-footer a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

.auth-footer a:hover {
    text-decoration: underline;
}

.alert {
    border-radius: 8px;
    margin-bottom: 20px;
}

@keyframes neonFlicker1 {

    0%,
    15%,
    19%,
    23%,
    80%,
    100% {
        opacity: 1;
    }

    17%,
    21%,
    82% {
        opacity: 0.25;
    }
}

@keyframes neonFlicker2 {

    0%,
    18%,
    22%,
    25%,
    53%,
    100% {
        opacity: 1;
    }

    20%,
    24%,
    55% {
        opacity: 0.3;
    }
}

/* ==========================
    LOBBY PANEL
========================== */

/* ==========================
    USER PANEL
========================== */


/* ==========================
    CANVAS
========================== */


/* ==========================
    MEDIA QUERIES - TABLET
========================== */
@media (min-width: 768px) {
    body {
        padding: 1rem;
    }
}

/* ==========================
    MEDIA QUERIES - DESKTOP
========================== */
@media (min-width: 1536px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .lobby-wrapper {
        min-width: 360px;
        max-width: 20%;
        height: 100%;
    }

    .main-wrapper {
        width: 100%;
        margin: 0 1rem;
    }

    .user-wrapper {
        min-width: 360px;
        max-width: 20%;
        height: 100%;
    }
}