:root,
/* ==========================
    TEMA OSCURO (Default)
========================== */
[data-theme="dark"] {
    --primary-color: #333;
    --secondary-color: #555;
    --text-color: #ddd;
}

/* ==========================
    TEMA CLARO
========================== */
[data-theme="light"] {
    --primary-color: #fff;
    --secondary-color: #ddd;
    --text-color: #333;
}

/* ==========================
    GENERAL STYLES 
========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: default;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* ==========================
    LAYOUT
========================== */

/* ==========================
    SIGNIN
========================== */

/* ==========================
    CANVAS
========================== */

/* ==========================
    MEDIA QUERIES - TABLET
========================== */

/* ==========================
    MEDIA QUERIES - DESKTOP
========================== */
