/* ==========================
    TAREAS
========================== */

.tasks-header {
    width: 100%;
    max-width: 833px;
    margin-bottom: 3rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-header h2 {
    font-size: 1.6rem;
    text-align: start;
}

.add-button {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.delete-button {
    border-color: lightcoral;
    color: lightcoral;
}

.tasks-header {
    padding: 0 1rem;
}

.task-list {
    width: 100%;
    max-width: 833px;
    max-height: 400px;
    margin: 0 0 3rem;
    padding: .25rem .5rem;
    list-style: none;
    overflow-y: auto;
}

.task-list b {
    color: var(--text-primary);
}

.task-item {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item:hover {
    box-shadow: 0 0 10px var(--main-color-rgb);
}

.task-item a {
    margin-right: 0.5rem;
    color: var(--text-primary);
    overflow-x: auto;
    white-space: nowrap;
}

.task-actions {
    display: flex;
    gap: 0.5rem;
}

.task-actions .btn {
    border-color: transparent;
}

.task-actions .btn-primary {
    padding: 0.1rem 0.4rem;
}

.task-actions .btn-primary i {
    font-size: 1.2rem;
}

.task-actions .btn-primary span {
    font-size: 0.8rem;
    display: none;
}

/* ==========================
    MEDIA QUERIES - MOBILE & TABLET (LANDSCAPE MODE)
========================== */

@media (max-width: 1535px) and (orientation: landscape) {
    .tasks-header {
        max-height: 20vh;
        margin-bottom: 1rem;
    }

    .task-list {
        max-height: 50vh;
        margin-bottom: 1rem;
    }

    .task-item a {
        font-size: 1.1rem;
    }

    .task-actions .btn-primary {
        font-size: 0.8rem;
        padding: 0.1rem 0.4rem;
    }

    .task-actions .btn-primary i {
        font-size: 1.2rem;
    }

    .complete-form .btn .bi,
    .uncomplete-form .btn .bi,
    .delete-form .btn .bi {
        margin-right: 0;
    }
}


/* ==========================
    MEDIA QUERIES - MOBILE & TABLET (PORTRAIT MODE)
========================== */

@media (max-width: 1535px) and (orientation: portrait) {

    .panel {
        padding-right: .25rem;
    }

    .tasks-header {
        margin-bottom: 2rem;
        padding: .5rem .75rem;
    }

    .tasks-header h2 {
        font-size: 1rem;
    }

    .task-list {
        max-height: 450px;
        margin-bottom: 2rem;
    }

    .task-item a {
        font-size: 1rem;
    }

    .task-actions .btn-primary i {
        font-size: 1rem;
    }

    .complete-form .btn .bi,
    .uncomplete-form .btn .bi,
    .delete-form .btn .bi {
        margin-right: 0;
    }
}

/* ==========================
    MEDIA QUERIES - DESKTOP
========================== */

@media (min-width: 1536px) {
    .task-list {
        max-height: 572px;
    }

    .task-item {
        padding: 0.5rem 1.2rem;
    }

    .task-actions .btn-primary span {
        display: inline;
    }
}